.lawyer-nav {
  height: 700px;
  width: 100%;
  position: relative; }
  .lawyer-nav .back-cen .back-1 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a1.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-2 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a2.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-3 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a3.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-4 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a4.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-5 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a5.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-6 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a6.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-7 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a7.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-8 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a8.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-9 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a9.jpg) no-repeat center center; }
  .lawyer-nav .back-cen .back-10 {
    height: 70px;
    width: 100%;
    background-size: 100% 100%;
    background: url(../images/a10.jpg) no-repeat center center; }
  .lawyer-nav .nav {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
    .lawyer-nav .nav .nav-img {
      height: 52px;
      width: 105px;
      overflow: hidden;
      background: url("../images/imgs.png") no-repeat;
      background-position: -324px 0;
      margin-left: 50px;
      margin-top: 20px;
      float: left; }
    .lawyer-nav .nav .nav-list {
      float: right; }
      .lawyer-nav .nav .nav-list ul li {
        float: left;
        padding: 40px 0 18px 0;
        border-bottom: 2px solid transparent;
        margin-left: 0; }
        .lawyer-nav .nav .nav-list ul li a {
          width: 73px;
          text-align: center;
          display: block;
          font-size: 18px;
          color: #fff; }
        .lawyer-nav .nav .nav-list ul li + li {
          margin-left: 84px; }
        .lawyer-nav .nav .nav-list ul li.set {
          border-color: #e8342f; }
          .lawyer-nav .nav .nav-list ul li.set a {
            color: #e8342f; }
    .lawyer-nav .nav .nav-login {
      float: right;
      padding: 30px 68px 0 68px; }
      .lawyer-nav .nav .nav-login a {
        font-size: 18px;
        display: block;
        width: 78px;
        height: 38px;
        line-height: 38px;
        color: #a3a3aa;
        border: 1px solid  #a3a3aa;
        text-align: center;
        border-radius: 5px; }
        .lawyer-nav .nav .nav-login a:hover {
          border-color: #fff;
          color: #fff; }
  .lawyer-nav .nav-imgs {
    width: 1000px;
    height: 365px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -500px;
    z-index: 2;
    text-align: center; }
    .lawyer-nav .nav-imgs h2 {
      font-size: 68px;
      color: #fffefe;
      font-weight: normal; }
    .lawyer-nav .nav-imgs h5 {
      font-size: 24px;
      color: #fffefe;
      letter-spacing: 12px; }
    .lawyer-nav .nav-imgs .code {
      margin: 0 auto;
      display: inline-block;
      padding-top: 25px; }
    .lawyer-nav .nav-imgs .app {
      height: 153px;
      width: 124px;
      display: block;
      background: url("../images/imgs.png") no-repeat;
      background-position: -429px 0;
      position: relative;
      float: left;
      margin-right: 88px; }
      .lawyer-nav .nav-imgs .app span {
        line-height: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        text-align: center;
        width: 124px;
        font-size: 16px; }
    .lawyer-nav .nav-imgs .wx {
      height: 153px;
      width: 124px;
      display: block;
      background: url("../images/imgs.png") no-repeat;
      background-position: -553px 0;
      position: relative;
      float: left; }
      .lawyer-nav .nav-imgs .wx span {
        line-height: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        text-align: center;
        width: 124px;
        font-size: 16px; }

.lawyer-center {
  width: 1140px;
  margin: 0 auto; }
  .lawyer-center .tltie {
    padding-top: 100px;
    padding-bottom: 130px;
    text-align: center; }
    .lawyer-center .tltie h2 {
      font-size: 40px;
      color: #3d449d;
      font-weight: normal; }
    .lawyer-center .tltie h3 {
      padding-top: 10px;
      font-size: 24px;
      color: #9b9b9b;
      font-weight: normal; }
    .lawyer-center .tltie.modify-tltie-1 {
      padding-top: 156px;
      padding-bottom: 130px;
      text-align: center; }
    .lawyer-center .tltie.modify-tltie-2 {
      padding-top: 100px;
      padding-bottom: 50px;
      text-align: center; }
    .lawyer-center .tltie.modify-tltie-3 {
      padding-top: 160px;
      padding-bottom: 85px;
      text-align: center; }
  .lawyer-center .list ul li {
    width: 350px;
    height: 375px;
    text-align: center;
    float: left;
    -moz-box-shadow: -3px 30px 60px #dee0ed;
    box-shadow: -3px 30px 60px #dee0ed;
    margin-left: 0; }
    .lawyer-center .list ul li .logo {
      margin-top: 40px;
      display: inline-block;
      background: url("../images/imgs.png") no-repeat;
      height: 97px;
      width: 56px;
      background-position: -97px 0; }
      .lawyer-center .list ul li .logo.logo-1 {
        background: url("../images/imgs.png") no-repeat;
        height: 97px;
        width: 86px;
        background-position: -238px 0; }
      .lawyer-center .list ul li .logo.logo-2 {
        background: url("../images/imgs.png") no-repeat;
        height: 97px;
        width: 85px;
        background-position: -153px 0; }
    .lawyer-center .list ul li h2 {
      padding: 35px 0;
      font-size: 24px;
      color: #3d449d;
      font-weight: normal; }
    .lawyer-center .list ul li p {
      padding-top: 10px;
      font-size: 16px;
      color: #9b9b9b;
      font-weight: normal;
      padding: 0 45px;
      line-height: 30px; }
    .lawyer-center .list ul li + li {
      margin-left: 44px; }
  .lawyer-center .background-img {
    background: url("../images/imgs.png") no-repeat;
    height: 382px;
    width: 706px;
    background-position: -2034px 0;
    margin: 0 auto;
    position: relative; }
    .lawyer-center .background-img p {
      position: absolute;
      height: 1px;
      background: #000;
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center; }
      .lawyer-center .background-img p span {
        display: inline-block;
        width: 204px;
        height: 1px;
        background: red;
        position: absolute;
        left: 39%; }
  .lawyer-center .list-img ul li {
    float: left;
    height: 220px;
    width: 221px;
    background: url("../images/imgs.png") no-repeat;
    margin-left: 8px;
    -moz-box-shadow: -3px 11px 40px #dee0ed;
    box-shadow: -3px 11px 40px #dee0ed; }
    .lawyer-center .list-img ul li:nth-child(1) {
      background-position: -1557px 0;
      margin: 0; }
    .lawyer-center .list-img ul li:nth-child(2) {
      background-position: -677px 0; }
    .lawyer-center .list-img ul li:nth-child(3) {
      background-position: -897px  0; }
    .lawyer-center .list-img ul li:nth-child(4) {
      background-position: -1337px 0; }
    .lawyer-center .list-img ul li:nth-child(5) {
      background-position: -1117px  0; }
  .lawyer-center .list-imgs-cen {
    height: 549px;
    width: 1062px;
    background: url("../images/imgs.png") no-repeat;
    margin: 0 auto;
    background-position: -2740px 0; }

/*# sourceMappingURL=index.css.map */
